<div class="animated fadeIn">
    <div class="row">
      <div class="col-sm-6 col-lg-3">
        <div class="card text-white bg-danger">
          <div class="card-body pb-0">
            <div class="text-value">F0</div>
            <div>{{ F0 }}</div>
          </div>
          <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
            <canvas baseChart class="chart"
            [datasets]="lineChart0Data"
            [labels]="lineChartLabels"
            [options]="lineChartOptions"
            [colors]="lineChart0Colours"
            [legend]="lineChartLegend"
            [chartType]="lineChartType"></canvas>
          </div>
        </div>
      </div><!--/.col-->
      <div class="col-sm-6 col-lg-3">
        <div class="card text-white bg-warning">
          <div class="card-body pb-0">
            <div class="text-value">F1</div>
            <div>{{ F1 }}</div>
          </div>
          <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
            <canvas baseChart class="chart"
            [datasets]="lineChart1Data"
            [labels]="lineChartLabels"
            [options]="lineChartOptions"
            [colors]="lineChart1Colours"
            [legend]="lineChartLegend"
            [chartType]="lineChartType"></canvas>
          </div>
        </div>
      </div><!--/.col-->
      <div class="col-sm-6 col-lg-3">
        <div class="card text-white bg-info">
          <div class="card-body pb-0">
            <div class="text-value">F2</div>
            <div>{{ F2 }}</div>
          </div>
          <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
            <canvas baseChart class="chart"
            [datasets]="lineChart2Data"
            [labels]="lineChartLabels"
            [options]="lineChartOptions"
            [colors]="lineChart2Colours"
            [legend]="lineChartLegend"
            [chartType]="lineChartType"></canvas>
          </div>
        </div>
      </div><!--/.col-->
      <div class="col-sm-6 col-lg-3">
        <div class="card text-white bg-success">
          <div class="card-body pb-0">
            <div class="text-value">Khỏe mạnh</div>
            <div>{{ khoeManh }}</div>
          </div>
          <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
            <canvas baseChart class="chart"
            [datasets]="lineChart3Data"
            [labels]="lineChartLabels"
            [options]="lineChart3Options"
            [colors]="lineChart3Colours"
            [legend]="lineChartLegend"
            [chartType]="lineChartType"></canvas>
          </div>
        </div>
      </div><!--/.col-->
    </div><!--/.row-->

    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-5">
            <h4 class="card-title mb-0">COVID - 19</h4>
            <div class="small text-muted">December 2020</div>
          </div><!--/.col-->
          <div class="col-sm-7 d-none d-md-block">
            <div class="btn-group btn-group-toggle float-right mr-3" data-toggle="buttons">
              <label class="btn btn-outline-secondary" [(ngModel)]="radioModel" btnRadio="Day" id="option1">Day</label>
              <label class="btn btn-outline-secondary" [(ngModel)]="radioModel" btnRadio="Month" id="option2">Month</label>
              <label class="btn btn-outline-secondary" [(ngModel)]="radioModel" btnRadio="Year" id="option3">Year</label>
            </div>
          </div><!--/.col-->
        </div><!--/.row-->
        <div class="chart-wrapper" style="height:300px;margin-top:40px;">
          <canvas baseChart class="chart"
          [datasets]="mainChartData"
          [labels]="mainChartLabels"
          [options]="mainChartOptions"
          [colors]="mainChartColours"
          [legend]="mainChartLegend"
          [chartType]="mainChartType"></canvas>
        </div>
      </div>
    </div>
  </div>
  
