<div class="animated fadeIn">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <i class="fa fa-align-justify"></i> Nhân khẩu liên quan Covid-19
          </div>
          <div class="card-body">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Nhân khẩu ID</th>
                  <th>Mã nhân khẩu</th>
                  <th>Họ và tên</th>
                  <th>Ngày sinh</th>
                  <th>Giới tính</th>
                  <th>Nơi sinh</th>
                  <th>Nguyên quán</th>
                  <th>Dân tộc</th>
                  <th>Tôn giáo</th>
                  <th>Quốc tịch</th>
                  <th>Tình trạng</th>
                  <th>Xem chi tiết</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let person of nhanKhau">
                  <td>{{ person.id }}</td>
                  <td>{{ person.maNhanKhau }}</td>
                  <td>{{ person.hoTen }}</td>
                  <td>{{ person.ngaySinh | date }}</td>
                  <td>
                    <span [class]="person.gioiTinh == 'Nam' ? 'badge badge-success' : 'badge badge-danger'">{{ person.gioiTinh }}</span>
                  </td>
                  <td>{{ person.noiSinh }}</td>
                  <td>{{ person.nguyenQuan }}</td>
                  <td>{{ person.danToc }}</td>
                  <td>{{ person.tonGiao }}</td>
                  <td>{{ person.quocTich }}</td>
                  <td>
                    <span class="badge badge-danger">F0</span>
                    <span *ngIf="person.trangThaiCachLy == 'F0'" class="badge badge-danger">F0</span>
                    <span *ngIf="person.trangThaiCachLy == 'F1'" class="badge badge-warning">F1</span>
                    <span *ngIf="person.trangThaiCachLy == 'F2'" class="badge badge-primary">F2</span>
                    <span *ngIf="person.trangThaiCachLy == 'Khỏe mạnh'" class="badge badge-success">Khỏe mạnh</span>
                  </td>
                  <td>
                    <button type="button" class="btn btn-block btn-primary active" (click)="primaryModal.show()" (click)="khoiTaoToKhaiYTe(person.id)">Chi tiết</button>
                  </td>
                </tr>
              </tbody>
            </table>
            <!--
            <ul class="pagination">
              <li class="page-item"><a class="page-link" href="#">Prev</a></li>
              <li class="page-item active">
                <a class="page-link" href="#">1</a>
              </li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">4</a></li>
              <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
          -->
          </div>
        </div>
      </div>
    </div><!--/.row-->
  </div>

  <div bsModal #primaryModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-primary" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Chi tiết</h4>
          <button type="button" class="close" (click)="primaryModal.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p><strong>Ngày khai báo: {{ toKhaiYTe.dateRegistered | date }}</strong></p>
          <p *ngIf="toKhaiYTe.sot"><strong>Sốt</strong></p>
          <p *ngIf="toKhaiYTe.ho"><strong>Ho</strong></p>
          <p *ngIf="toKhaiYTe.khoTho"><strong>Khó thở</strong></p>
          <p *ngIf="toKhaiYTe.viemPhoi"><strong>Viêm phổi</strong></p>
          <p *ngIf="toKhaiYTe.dauHong"><strong>Đau họng</strong></p>
          <p *ngIf="toKhaiYTe.metMoi"><strong>Mệt mỏi</strong></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="primaryModal.hide()">Close</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
  
